/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}
.link {
    transition: all 0.3s linear;
    height: 0;
}
.header-bg {
    background: url('./resources/background.jpg');
}



@tailwind base;
@tailwind components;
@tailwind utilities;