/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  /* font-family: 'Barlow', sans-serif; */
     font-family: 'Bai Jamjuree', sans-serif;
}

.inter {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Bai Jamjuree', sans-serif;
}

.myfont {
  /* font-family: 'Commissioner', sans-serif; */
  font-family: 'Bai Jamjuree', sans-serif;
}

.link {
  transition: all 0.3s linear;
  height: 0;
}
body, html {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal overflow */
}
.hero-content {
  margin-top: 130px;
}

.hero-image {
  width: 50%;
}

/* Ensure the hero image positioning */
.hero-image-container {
  position: absolute;
  bottom: 0;
  left: 40%;
}


/* Styles for large screens */
@media (min-width: 1024px) {
  .hero-content {
      margin-top: 150px;
  }

  .hero-image {
      width: 70%;
  }

  .hero-image-container {
    left: 50%;
  }
}


.nav-link {
  position: relative;
  display: inline-block;
  /* padding: 10px; */
  text-decoration: none;
  color: #C1ACF6;
  font-weight: bold;
  text-transform: capitalize;
}

.nav-link .overlay {
  display: none;
  position: absolute;
  top: 100%; /* Position below the link */
  left: 0;
  width: 100%;
  background: #2E0F65;
  color: #C1ACF6;
  text-align: center;
  padding: 2px;
  font-size: 12px;
}

.nav-link:hover .overlay {
  display: block;
}

.join-button {
  padding: 4px 40px; /* Adjusting padding for consistent look */
  border: 2px solid #C1ACF6;
  margin-top: -6px;
  text-transform: capitalize;
}

.join-button a {
  text-decoration: none;
  color: #C1ACF6;
  font-weight: bold;
}

.carousel-container {
  width: 80%;
  overflow: hidden;
  /* border: 2px solid #ccc; */
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  justify-content: space-between;
  animation: scroll 15s linear infinite;
}

.carousel-item {
  min-width: 15%;
  margin: 0 10px;
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
  border-radius: 10px;
}


@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.carousel-container2 {
  width: 80%;
  overflow: hidden;
  /* border: 2px solid #ccc; */
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel2 {
  display: flex;
  justify-content: space-between;
  animation: scroll 15s linear infinite;
}

.carousel-item2 {
  min-width: 20%;
  margin: 0 10px;
  text-align: center;
}

.carousel-item2 img {
  max-width: 100%;
  /* border-radius: 10px; */
}

.header-bg {
  background: linear-gradient( #630A8C, #250F5E);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  /* text-align: center; */
  position: relative;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

.subhero-text {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, +10%);
  color: white;
}

.image-margin {
  margin: 20px;
}

.size{
  width: 350px; /* Set the desired width */
    height: 350px;
}

.text-container {
  position: relative;
}

.image-text2 {
  position: absolute;
  top: 50%; /* Position the text vertically in the middle of the container */
  left: 50%; /* Position the text horizontally in the middle of the container */
  transform: translate(-30%, -200%); /* Center the text precisely */
  padding: 10px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust font size as needed */
  width: 80%;
}
.image-text5 {
  position: absolute;
  top: 50%; /* Position the text vertically in the middle of the container */
  left: 50%; /* Position the text horizontally in the middle of the container */
  transform: translate(-45%, -30%); /* Center the text precisely */
  padding: 10px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust font size as needed */
  width: 20%;
}

@media (max-width: 1000px) {
  .image-container {
      flex-direction: column;
      position: relative;
  }
  .image-container img {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    max-width: 100%;
    max-height: 100%;
  }
  .size{
    width: 100%; /* Set the desired width */
    height: 100%;
  }
  .image-margin {
    margin: 10px;
  }
  .image-text5 {
    position: absolute;
    top: 50%; /* Position the text vertically in the middle of the container */
    left: 50%; /* Position the text horizontally in the middle of the container */
    transform: translate(-45%, -30%); /* Center the text precisely */
    padding: 10px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    width: 100%;
  }
}

@media (max-width: 1000px) and (min-width: 500px) {
  .image-container {
      flex-direction: column;
      position: relative;
  }
  .image-container img {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(30%, 0%);
    max-width: 100%;
    max-height: 100%;
  }
  .size{
    width: 60%; /* Set the desired width */
    height: 100%;
  }
  .image-margin {
    margin: 10px;
  }
  .image-text2 {
    position: absolute;
    top: 50%; /* Position the text vertically in the middle of the container */
    left: 50%; /* Position the text horizontally in the middle of the container */
    transform: translate(-30%, -200%); /* Center the text precisely */
    padding: 10px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    width: 60%;
  }
  .image-text5 {
    position: absolute;
    top: 50%; /* Position the text vertically in the middle of the container */
    left: 50%; /* Position the text horizontally in the middle of the container */
    transform: translate(-45%, -30%); /* Center the text precisely */
    padding: 10px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    width: 50%;
  }
}

@media (min-width: 999px) {
  .image-container {
      flex-direction: row;
  }
  .image-text5 {
    position: absolute;
    top: 50%; /* Position the text vertically in the middle of the container */
    left: 50%; /* Position the text horizontally in the middle of the container */
    transform: translate(-45%, -30%); /* Center the text precisely */
    padding: 10px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    width: 80%;
  }
}

.imgfit{
  width: 50%;
  height: 100%;
  float: right;
  position: absolute;
}

@media (max-width: 1023px) {
  .imgfit {
      visibility: hidden;
  }
}

.absol{
  position: absolute;
  margin-top: 200px;
  right: 10%;
  left:10%;
}

.padding{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50%;
}

/* ! tailwindcss v3.0.23 | MIT License | https://tailwindcss.com */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 20%;
  width: 100%;
  /* text-align: center; */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.newsletter {
  position: relative;
  input {
    font-size: 16px;
    font-weight: 400;
    height: 53px;
    padding: 6px 6px 6px 16px;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    border-radius: 14px;
    font-size: 16px;
    width: 370px;
  }

  button {
    position: absolute;
    padding: 16px 40px;
    height: 53px;
    border-radius: 10px;
    border: none;
    background-color: yellow;
    font-size: 16px;
    font-weight: 500;
    color: purple;
    right: 6px;
    top: 6px;
    transition: all .5s;

    &:hover {
      cursor: pointer;
      border-radius: 70px 10px 70px 10px;
      box-shadow: -10px 0px white;
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 20% 20% 20% 20%;
  }
  a {
    transition: all .3s ease;
  }
  a:hover {
    box-shadow: 0px 0px 20px 1px #726193;
    transform: scale(1.1);
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 32px 8vw;
  background-color: yellow;
  a {
    color: black;
    margin: 0 1vw 0 1vw;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      background-color: gray !important;
    }
  }
}



/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.visible{
  visibility: visible;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.top-\[88px\]{
  top: 88px;
}

.top-40{
  top: 10rem;
}

.left-5{
  left: 1.25rem;
}

.z-50{
  z-index: 50;
}

.mx-5{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-8{
  margin-bottom: 2rem;
}

.mb-16{
  margin-bottom: 4rem;
}

.mb-7{
  margin-bottom: 1.75rem;
}

.mb-12{
  margin-bottom: 3rem;
}

.mb-20{
  margin-bottom: 5rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-28{
  margin-bottom: 7rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.contents{
  display: contents;
}

.hidden{
  display: none;
}

.h-\[180px\]{
  height: 180px;
}

.h-\[88px\]{
  height: 88px;
}

.h-screen{
  height: 100vh;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[200px\]{
  height: 200px;
}

.w-10{
  width: 2.5rem;
}

.w-full{
  width: 100%;
}

.w-\[200px\]{
  width: 200px;
}

.min-w-full{
  min-width: 100%;
}

.max-w-2xl{
  max-width: 42rem;
}

.max-w-sm{
  max-width: 24rem;
}

.max-w-\[1580px\]{
  max-width: 1580px;
}

.max-w-\[1600px\]{
  max-width: 1600px;
}

.max-w-5xl{
  max-width: 64rem;
}

.max-w-\[1200px\]{
  max-width: 1200px;
}

.max-w-\[1400px\]{
  max-width: 1400px;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.flex-shrink{
  flex-shrink: 1;
}

.shrink-0{
  flex-shrink: 0;
}

.flex-grow-0{
  flex-grow: 0;
}

.flex-grow{
  flex-grow: 1;
}

.grow-0{
  flex-grow: 0;
}

.border-collapse{
  border-collapse: collapse;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize{
  resize: both;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.gap-4{
  gap: 1rem;
}

.gap-20{
  gap: 5rem;
}

.gap-10{
  gap: 2.5rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-x-2{
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.gap-x-8{
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.self-center{
  align-self: center;
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-\[60px\]{
  border-radius: 60px;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-t-3xl{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.border-2{
  border-width: 2px;
}

.border-\[1px\]{
  border-width: 1px;
}

.border{
  border-width: 1px;
}

.border-\[\#202020\]{
  --tw-border-opacity: 1;
  border-color: rgb(32 32 32 / var(--tw-border-opacity));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-\[\#141414\]{
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-gradient-to-r{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-gradient-to-b{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-tr{
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.from-\[\#F58529\]{
  --tw-gradient-from: #F58529;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(245 133 41 / 0));
}

.from-\[\#00ffbd\]{
  --tw-gradient-from: #00ffbd;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(0 255 189 / 0));
}

.from-\[\#f4599e\]{
  --tw-gradient-from: #f4599e;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(244 89 158 / 0));
}

.from-\[\#5865f2\]{
  --tw-gradient-from: #5865f2;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(88 101 242 / 0));
}

.from-\[\#64b5f6\]{
  --tw-gradient-from: #64b5f6;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(100 181 246 / 0));
}

.from-\[\#4dfaf0\]{
  --tw-gradient-from: #4dfaf0;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(77 250 240 / 0));
}

.from-\[\#161a1d\]{
  --tw-gradient-from: #161a1d;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(22 26 29 / 0));
}

.via-\[\#FEDA77\]{
  --tw-gradient-stops: var(--tw-gradient-from), #FEDA77, var(--tw-gradient-to, rgb(254 218 119 / 0));
}

.via-\[\#DD2A7B\]{
  --tw-gradient-stops: var(--tw-gradient-from), #DD2A7B, var(--tw-gradient-to, rgb(221 42 123 / 0));
}

.via-\[\#2300ab\]{
  --tw-gradient-stops: var(--tw-gradient-from), #2300ab, var(--tw-gradient-to, rgb(35 0 171 / 0));
}

.via-\[\#9e75f5\]{
  --tw-gradient-stops: var(--tw-gradient-from), #9e75f5, var(--tw-gradient-to, rgb(158 117 245 / 0));
}

.to-blue-500{
  --tw-gradient-to: #3b82f6;
}

.to-\[\#c100ba\]{
  --tw-gradient-to: #c100ba;
}

.to-\[\#5b72ff\]{
  --tw-gradient-to: #5b72ff;
}

.to-\[\#3a0ca3\]{
  --tw-gradient-to: #3a0ca3;
}

.to-\[\#1565c0\]{
  --tw-gradient-to: #1565c0;
}

.to-\[\#3856f2\]{
  --tw-gradient-to: #3856f2;
}

.to-\[\#0b090a\]{
  --tw-gradient-to: #0b090a;
}

.bg-fixed{
  background-attachment: fixed;
}

.bg-clip-text{
  -webkit-background-clip: text;
          background-clip: text;
}

.bg-center{
  background-position: center;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-1{
  padding: 0.25rem;
}

.p-8{
  padding: 2rem;
}

.p-4{
  padding: 1rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-32{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-\[14px\]{
  padding-left: 14px;
  padding-right: 14px;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-\[22px\]{
  padding-left: 22px;
  padding-right: 22px;
}

.px-\[13px\]{
  padding-left: 13px;
  padding-right: 13px;
}

.px-\[18px\]{
  padding-left: 18px;
  padding-right: 18px;
}

.pt-8{
  padding-top: 2rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pt-14{
  padding-top: 3.5rem;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-7xl{
  font-size: 4.5rem;
  line-height: 1;
}

.text-\[36px\]{
  font-size: 36px;
}

.text-\[32px\]{
  font-size: 32px;
}

.text-\[40px\]{
  font-size: 40px;
}

.font-bold{
  font-weight: 700;
}

.font-semibold{
  font-weight: 600;
}

.font-black{
  font-weight: 900;
}

.font-medium{
  font-weight: 500;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.leading-snug{
  line-height: 1.375;
}

.leading-tight{
  line-height: 1.25;
}

.leading-6{
  line-height: 1.5rem;
}

.leading-5{
  line-height: 1.25rem;
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-transparent{
  color: transparent;
}

.text-\[\#F58529\]{
  --tw-text-opacity: 1;
  color: rgb(245 133 41 / var(--tw-text-opacity));
}

.text-\[\#69BA7F\]{
  --tw-text-opacity: 1;
  color: rgb(105 186 127 / var(--tw-text-opacity));
}

.text-\[\#515BD4\]{
  --tw-text-opacity: 1;
  color: rgb(81 91 212 / var(--tw-text-opacity));
}

.text-\[\#8110E1\]{
  --tw-text-opacity: 1;
  color: rgb(129 16 225 / var(--tw-text-opacity));
}

.text-\[\#8110e1\]{
  --tw-text-opacity: 1;
  color: rgb(129 16 225 / var(--tw-text-opacity));
}

.text-\[\#DD2A7B\]{
  --tw-text-opacity: 1;
  color: rgb(221 42 123 / var(--tw-text-opacity));
}

.text-\[\#8134AF\]{
  --tw-text-opacity: 1;
  color: rgb(129 52 175 / var(--tw-text-opacity));
}

.text-\[\#6c757d\]{
  --tw-text-opacity: 1;
  color: rgb(108 117 125 / var(--tw-text-opacity));
}

.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.outline{
  outline-style: solid;
}

.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 280px){
  .m28\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .m28\:text-\[42px\]{
    font-size: 42px;
  }

  .m28\:font-extrabold{
    font-weight: 800;
  }
}

@media (min-width: 375px){
  .m37\:w-12{
    width: 3rem;
  }

  .m37\:p-8{
    padding: 2rem;
  }

  .m37\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .m37\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 420px){
  .m41\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .m41\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .m41\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .m41\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 480px){
  .m48\:mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .m48\:flex{
    display: flex;
  }

  .m48\:flex-row{
    flex-direction: row;
  }

  .m48\:justify-center{
    justify-content: center;
  }

  .m48\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .m48\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .m48\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .m48\:text-\[36px\]{
    font-size: 36px;
  }

  .m48\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }

  .m48\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .m48\:font-bold{
    font-weight: 700;
  }

  .m48\:leading-\[56px\]{
    line-height: 56px;
  }

  .m48\:leading-tight{
    line-height: 1.25;
  }
}

@media (min-width: 620px){
  .sm\:left-7{
    left: 1.75rem;
  }

  .sm\:mx-6{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .sm\:mx-12{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .sm\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .sm\:mb-12{
    margin-bottom: 3rem;
  }

  .sm\:mb-14{
    margin-bottom: 3.5rem;
  }

  .sm\:mb-24{
    margin-bottom: 6rem;
  }

  .sm\:mb-8{
    margin-bottom: 2rem;
  }

  .sm\:w-14{
    width: 3.5rem;
  }

  .sm\:gap-12{
    gap: 3rem;
  }

  .sm\:gap-x-4{
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .sm\:pt-40{
    padding-top: 10rem;
  }

  .sm\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .sm\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:font-semibold{
    font-weight: 600;
  }

  .sm\:leading-tight{
    line-height: 1.25;
  }

  .sm\:leading-normal{
    line-height: 1.5;
  }
}

@media (min-width: 768px){
  .md\:flex{
    display: flex;
  }

  .md\:h-screen{
    height: 100vh;
  }

  .md\:h-60{
    height: 15rem;
  }
}

@media (min-width: 1024px){
  .lg\:left-20{
    left: 5rem;
  }

  .lg\:ml-20{
    margin-left: 5rem;
  }

  .lg\:mb-0{
    margin-bottom: 0px;
  }

  .lg\:mt-32{
    margin-top: 8rem;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:grid{
    display: grid;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:h-\[800px\]{
    height: 800px;
  }

  .lg\:h-screen{
    height: 100vh;
  }

  .lg\:w-1\/2{
    width: 50%;
  }

  .lg\:w-auto{
    width: auto;
  }

  .lg\:w-\[33\%\]{
    width: 33%;
  }

  .lg\:max-w-xl{
    max-width: 36rem;
  }

  .lg\:text-left{
    text-align: left;
  }

  .lg\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }

  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:font-extrabold{
    font-weight: 800;
  }
}

@media (min-width: 1025px){
  .tlg\:h-screen{
    height: 100vh;
  }
}

@media (min-width: 1280px){
  .xl\:ml-40{
    margin-left: 10rem;
  }

  .xl\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .xl\:gap-x-16{
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}

@media (min-width: 1536px){
  .\32xl\:top-60{
    top: 15rem;
  }

  .\32xl\:left-40{
    left: 10rem;
  }

  .\32xl\:h-screen{
    height: 100vh;
  }

  .\32xl\:gap-x-80{
    -moz-column-gap: 20rem;
         column-gap: 20rem;
  }
}
